.DS_Store
*.swp
*.pbxuser
**/*.xcworkspace/xcuserdata
**/*.xcodeproj/project.xcworkspace
**/*.xcodeproj/xcuserdata
Pods
fastlane/**/*.html
fastlane/README.md
fastlane/report.xml
fastlane/test_output
fastlane/metadata/review_information
fastlane/metadata/trade_representative_contact_information
build/
dist/
templates/
.env.secret*
Preview.html
l10n
