.DS_Store
*.swp
*.pbxuser
**/xcuserdata
fastlane/README.md
fastlane/report.xml
fastlane/**/*.html
fastlane/**/test_output
fastlane/**/review_information
fastlane/**/trade_representative_contact_information
build/
dist/
/l10n/
tmp/
screenshots/html/*/0*.png
screenshots/results/
scripts/env.secrets.sh
default.profraw
.api
.build
.bundle
.env.secret
*.storekit
*.sqlite-*
*.dmg*
