[submodule "Submodules/partout"]
	path = Submodules/partout
	url = git@github.com:passepartoutvpn/partout.git
[submodule "Submodules/partout-core"]
	path = Submodules/partout-core
	url = git@github.com:passepartoutvpn/partout-core.git
