[submodule "submodules/partout"]
	path = submodules/partout
	url = git@github.com:passepartoutvpn/partout.git
[submodule "submodules/partout-core"]
	path = submodules/partout-core
	url = git@github.com:passepartoutvpn/partout-core.git
