<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleVersion</key>
	<string>3457</string>
	<key>NSPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).PassepartoutMac</string>
	<key>com.algoritmico.Passepartout.config</key>
	<dict>
		<key>launcher_id</key>
		<string>$(CFG_LAUNCHER_ID)</string>
	</dict>
</dict>
</plist>
