<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>developer-id</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>CFG_TEAM_ID</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.algoritmico.mac.Passepartout</key>
        <string>Passepartout DMG</string>
        <key>com.algoritmico.mac.Passepartout.Tunnel</key>
        <string>Passepartout DMG Tunnel</string>
    </dict>
    <key>uploadSymbols</key>
    <true/>
    <key>destination</key>
    <string>export</string>
</dict>
</plist>
