<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>teamID</key>
    <string>CFG_TEAM_ID</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.algoritmico.ios.Passepartout</key>
        <string>Passepartout AppStore CFG_PLATFORM</string>
        <key>com.algoritmico.ios.Passepartout.Tunnel</key>
        <string>Passepartout AppStore Tunnel CFG_PLATFORM</string>
    </dict>
    <key>installerSigningCertificate</key>
	<string>3rd Party Mac Developer Installer</string>
    <key>uploadSymbols</key>
    <true/>
    <key>destination</key>
    <string>export</string>
</dict>
</plist>
