name: Full Tests

on:
  workflow_dispatch:

env:
  APPLE_ROOT: "app-apple"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  all_tests:
    name: All tests
    runs-on: macos-15
    timeout-minutes: 15
    steps:
      - uses: partout-io/action-prepare-xcode-build@master
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          submodules: true
      - name: Use remote Core source
        run: |
          ci/use-partout-core-source.sh
      - name: Run App tests
        working-directory: ${{ env.APPLE_ROOT }}
        run: |
          ci/run-app-tests.sh
      - name: Run Partout tests
        run: |
          ci/run-partout-tests.sh
