name: Unit Tests

on:
  pull_request:
    types: [ opened, synchronize ]
    paths-ignore:
      - '.env.*'
      - '**/*.md'
      - '**/*.sh'
      - '**/*.yml'
      - 'fastlane/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_swift_tests:
    name: Run SwiftPM tests
    runs-on: macos-15-arm64
    timeout-minutes: 10
    steps:
      - uses: passepartoutvpn/action-prepare-xcode-build@master
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
      - run: |
          cd Passepartout/Library
          swift test
