name: Unit Tests

on:
  push:
    branches-ignore:
      - 'master' # temporary
      - 'test/*'
    paths-ignore:
      - '.beta-*'
      - 'Passepartout.xcodeproj/project.pbxproj'
      - '**/Info.plist'
      - '**/CHANGELOG.md'
      - '**/release_notes.txt'

jobs:
  run_tests:
    name: Run tests
    runs-on: macos-11
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Run tests
        run: |
          cd PassepartoutCore
          swift test
