name: SwiftPM Tests

on:
  pull_request:
    types: [ opened, synchronize ]
    branches:
      - "master"
      - "hotfix/*"
    paths-ignore:
      - "README.md"
      - ".env.*"
      - "**/*.md"
      - "**/*.sh"
      - "fastlane/**"

env:
  APPLE_ROOT: app-apple

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_swift_tests:
    name: Run SwiftPM tests
    runs-on: macos-15
    timeout-minutes: 10
    steps:
      - uses: partout-io/action-prepare-xcode-build@master
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          submodules: true
      - name: "Run tests"
        working-directory: ${{ env.APPLE_ROOT }}
        run: |
          ci/run-app-tests.sh
