name: SwiftPM Tests

on:
  pull_request:
    types: [ opened, synchronize ]
    paths-ignore:
      - "README.md"
      - ".env.*"
      - "**/*.md"
      - "**/*.sh"
      - "fastlane/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run_swift_tests:
    name: Run SwiftPM tests
    runs-on: macos-15
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.1
      - name: "Run tests"
        run: |
          sed -i '' "s/environment = .production/environment = .onlineDevelopment/" "Packages/PassepartoutKit-Framework/Package.swift"
          cd Packages/App
          swift test
