name: Unit Tests

on:
  pull_request:
    types: [ opened, synchronize ]
    paths-ignore:
      - '.beta-*'
      - '.env.*'
      - '**/*.md'
      - '**/*.sh'
      - '**/*.yml'
      - 'Passepartout/App/fastlane/**'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  run_tests:
    name: Run tests
    runs-on: macos-13
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - uses: actions/setup-go@v4
        with:
          go-version: "^1.17"
      - name: Run tests
        run: |
          bundle exec fastlane scan
